.card-section {
  display: grid;
  margin: auto;
  max-width: 900px;
  padding: 70px 10px 0 0;
  grid-template-columns: auto;
  @media only screen and (min-width: 768px) {
    & {
      grid-template-columns: 50% 50%
    }
  }
  @media only screen and (min-width: 1200px) {
    & {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
