$colors: (
    header-background: #3c3b63,
    header-shadow: rgba(0,0,0,0.2),
    search-background: rgba(255, 255, 255, 0.15),
    search-placeholder: rgba(255, 255, 255, 0.42),
    card-title: rgba(0, 0, 0, 0.87),
    card-description: rgba(0, 0, 0, 0.54),
    card-shadow: rgba(0, 0, 0, 0.2),
    avater-background: #bdbdbd,
    avater-date: rgba(0, 0, 0, 0.54),
    avater-text-one: #fafafa,
    avater-text-two: rgba(0, 0, 0, 0.87),
    primary-text: #ffffff
);